//Breakpoints
$desktop: 60em;
$tablet: 48em;
//Reset
*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  a, a:hover{
    text-decoration: none;
  }
  li{
    list-style-type: none;
  }
  audio, img, iframe, video{
    display: inline-block;
    height: auto;
    width: 100%;
  }
  scrollbar-width: thin;
  scrollbar-color: #333 #000;
}
//Scroll
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//Grids
.container{
  margin: 0 auto;
  padding: 0 1em;
  width: 99%;
  @media(width >= $desktop){
    min-width: 1140px;
    max-width: 1377px;
  }
}

$grid-columns: 12;
$column-width: 100%;

@mixin grid-column($columns) {
  width: ($columns / $grid-columns) * $column-width;
}

@media (width >= $tablet) {
  @for $i from 1 through $grid-columns {
    col-#{$i} {
      @include grid-column($i);
    }
  }
}

@media (width >= $desktop) {
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      @include grid-column($i);
    }
  }
}

.row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media(width >= 768px){
    flex-direction: row;
  }
}

//Menu
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
