<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Bem-vindo ao meu portfólio</h2>
        <h3>
          Descubra meus projetos, artigos e experiências na área de
          desenvolvimento de software.
        </h3>
      </div>
      <div class="col-6">
        <picture>
          <!-- Define a imagem para telas maiores (ex: desktop) -->
          <source srcset="../../../../assets/imgs/eu.png" media="(min-width: 1024px)" />
          <!-- Define a imagem para telas médias (ex: tablets) -->
          <source srcset="../../../../assets/imgs/eu.png" media="(min-width: 600px)" />
          <!-- Define a imagem padrão para telas menores (ex: celulares) -->
          <img src="../../../../assets/imgs/eu.png" alt="Descrição da imagem" />
        </picture>
      </div>
    </div>
  </div>
</section>
