$desktop: 60em;

.banner{
  .container{
    color: #fff;
    padding-top: 4em;
    .row{
      flex-direction: column-reverse;
    }
    h2{
      font-size: 3em;
      line-height: 0.9em;
    }
    h3{
      font-size: 1.4em;
      line-height: 1.3em;
      margin-top: 0.76em;
    }
    img{
      width: 100%;
    }
    @media(width >= $desktop){
      padding-top: 8em;
      .row{
        align-items: center;
        flex-direction: row;
      }
      h2{
        font-size: 4em;
        line-height: 0.9em;
      }
      h3{
        font-size: 2em;
        line-height: 0.97em;
        margin-top: 0.76em;
      }
      img{
        width: 38.43em;
      }
    }
  }
}
