<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2>Bem-vindo ao meu portfólio</h2>
        <h3>
          Descubra meus projetos, artigos e experiências na área de
          desenvolvimento de software.
        </h3>
      </div>
      <div class="col-6">
        <picture>
          <!-- Define a imagem para telas maiores (ex: desktop) -->
          <source srcset="https://scontent.fudi1-2.fna.fbcdn.net/v/t39.30808-6/376922817_1441894416539989_4290214204102478457_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=xZIP7TdCpVgQ7kNvgFsw1xu&_nc_ht=scontent.fudi1-2.fna&cb_e2o_trans=t&oh=00_AYAPG3dg0V9B9DP3AR1Rb27RqbswFtPoJkbH0qCvcZnMyQ&oe=66B6F526" media="(min-width: 1024px)" />
          <!-- Define a imagem para telas médias (ex: tablets) -->
          <source srcset="https://scontent.fudi1-2.fna.fbcdn.net/v/t39.30808-6/376922817_1441894416539989_4290214204102478457_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=xZIP7TdCpVgQ7kNvgFsw1xu&_nc_ht=scontent.fudi1-2.fna&cb_e2o_trans=t&oh=00_AYAPG3dg0V9B9DP3AR1Rb27RqbswFtPoJkbH0qCvcZnMyQ&oe=66B6F526" media="(min-width: 600px)" />
          <!-- Define a imagem padrão para telas menores (ex: celulares) -->
          <img src="https://scontent.fudi1-2.fna.fbcdn.net/v/t39.30808-6/376922817_1441894416539989_4290214204102478457_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=xZIP7TdCpVgQ7kNvgFsw1xu&_nc_ht=scontent.fudi1-2.fna&cb_e2o_trans=t&oh=00_AYAPG3dg0V9B9DP3AR1Rb27RqbswFtPoJkbH0qCvcZnMyQ&oe=66B6F526" alt="Descrição da imagem" />
        </picture>
      </div>
    </div>
  </div>
</section>
