$desktop: 60em;

.banner{
  .container{
    color: #fff;
    padding: 4em 0;
    @media(width >= $desktop){
      padding: 8em 0;
      .row{
        align-items: center;
      }
      h2{
        font-size: 4em;
        line-height: 0.9em;
      }
      h3{
        font-size: 2em;
        line-height: 0.97em;
        margin-top: 0.76em;
      }
      img{
        width: 38.43em;
      }
    }
  }
}
