$desktop: 60em;

.menu {
  background-color: transparent;
  position: fixed;
  transition: background-color 0.3s ease;
  width: 100%;
  z-index: 1000;
  &-container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    .logo {
      h1 {
        margin: 0!important;
        a {
          color: #fff;
          font-size: 25px;
        }
      }
    }
    .container-button {
      display: block;
      button {
        background-color: #ffeb3b;
        border: none;
        color: #222;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 3px;
        font-size: 18px;
        font-weight: 600;
        outline: none;
        padding: 7px 10px;
        span {
          display: block;
        }
      }
    }
    .container-links {
      .links {
        display: flex;
        flex-direction: column;
        li {
          a {
            color: #fff;
            cursor: pointer;
            font-size: 0.86em;
            font-weight: 600;
          }
        }
      }
    }
    @media (max-width: 962px) {
      .container-links {
        &.hidden {
          display: none;
        }
        &.visible {
          background-color: #000;
          display: block;
          position: absolute;
          left: 0;
          top: 4em;
          width: 100%;
        }
        .links {
          li {
            padding: 1em;
            a {
              font-size: 1.2em;
            }
          }
        }
      }
    }
    @media (width >= $desktop) {
      padding: 10px 20px;
      .logo {
        h1 {
          a {
            color: #fff;
            cursor: pointer;
            font-size: 2em;
            font-weight: 800;
          }
        }
      }
      .container-button {
        display: none;
      }
      .container-links {
        display: block;
        position: relative !important;
        .links {
          flex-direction: row;
          gap: 2em;
        }
      }
    }
  }
  &.color-menu {
    background: linear-gradient(135deg, #1f1f1f 0%, #000 100%);
    .menu-container {
      .logo {
        h1 {
          a {
            font-size: 22px;
          }
        }
      }
      @media (width >= $desktop) {
        .logo {
          h1 {
            a {
              font-size: 1.4em;
            }
          }
        }
      }
    }
  }
}
