<header class="menu" [ngClass]="{'background-menu': isMenuColored}" role="navigation" aria-label="Menu principal">
  <div class="menu-container">
    <div class="logo">
      <h1>
        <a routerLink="/" aria-label="Página inicial">
          André Laurentino
        </a>
      </h1>
    </div>
    <div class="container-button">
      <button aria-expanded="false" aria-controls="menu-links" aria-label="Alternar menu"></button>
    </div>
    <nav class="container-links" id="menu-links">
      <ul class="links">
        <li><a routerLink="/" aria-label="Ir para a página Home">Home</a></li>
        <li><a routerLink="/sobre-mim" aria-label="Saiba mais Sobre Mim">Sobre-mim</a></li>
        <li><a routerLink="/servicos" aria-label="Ver os Serviços oferecidos">Serviços</a></li>
        <li><a routerLink="/portfolio" aria-label="Ver meu Portfólio">Portfólio</a></li>
        <li><a routerLink="/blog" aria-label="Ler o Blog">Blog</a></li>
        <li><a routerLink="/contato" aria-label="Entre em Contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
