$desktop: 60em;

.menu{
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
  &-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    .logo{
      h1{
        a{
          color: #333;
          font-size: 2em;
        }
      }
    }
    .container-button{
      display: block;
    }
    .container-links{
      display: none;
      .links{
        display: flex;
        flex-direction: column;
      }
    }
    @media(width >= $desktop){
      .logo{
        h1{
          a{
            color: #fff;
            cursor: pointer;
            font-size: 2em;
            font-weight: 800;
          }
        }
      }
      .container-button{
        display: none;
      }
      .container-links{
        display: block;
        .links{
          flex-direction: row;
          gap: 2em;
          li{
            a{
              color: #fff;
              cursor: pointer;
              font-size: 0.76em;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
