<!-- sobre.component.html -->
<section class="content-sobre">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <div class="profile">
          <h1>Sobre André Rodrigues</h1>
          <img
            src="https://scontent.fudi1-2.fna.fbcdn.net/v/t39.30808-6/355482387_1394541374608627_3905388549022253524_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=uZpkSmMC1V0Q7kNvgHWSnaC&_nc_ht=scontent.fudi1-2.fna&cb_e2o_trans=t&oh=00_AYBAyPjb05nYLpQNyHQl_ES7drCL4tCdP6Jb17fHpN__hw&oe=66B704EA"
            alt="André Rodrigues"
            class="profile-image"
          />
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">
        <div class="container-text">
          <h2>Quem Sou Eu</h2>
          <p>
            Olá! Sou André Laurentino Rodrigues, engenheiro de software e
            entusiasta de tecnologia. Atualmente trabalho na NTTData e tenho
            experiência em desenvolvimento web, design gráfico e SEO.
          </p>
          <p>
            Além de trabalhar com desenvolvimento de software, gosto de escrever
            artigos sobre tecnologias e boas práticas, bem como explorar novas
            tendências e inovações na área de TI.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="container-text">
          <h2>Experiência e Conhecimentos</h2>
          <app-card-icons></app-card-icons>
        </div>
      </div>
    </div>
  </div>
</section>
