.content-sobre{
  color: #fff;
  .text-center{
    text-align: center;
  }
  .container{
    padding: 4em 0;
    .profile{
      h1{
        font-size: 3em;
      }
      img{
        border-radius: 50%;
        height: 300px;
        width: 300px;
      }
    }
  }
  @media(width >= 900px){
    .container{
      .profile{
        h1{
          font-size: 3em;
        }
        img{
          border-radius: 50%;
          height: 320px;
          width: 300px;
        }
      }
      .container-text{
        margin: 0 auto;
        width: 70%;
        h2{
          font-size: 2em;
        }
      }
    }
  }
}
