<!-- sobre.component.html -->
<section class="content-sobre">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <div class="profile">
          <h1>Sobre André Rodrigues</h1>
          <img
            src="https://scontent.fudi1-2.fna.fbcdn.net/v/t39.30808-6/355482387_1394541374608627_3905388549022253524_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=uZpkSmMC1V0Q7kNvgHWSnaC&_nc_ht=scontent.fudi1-2.fna&cb_e2o_trans=t&oh=00_AYBAyPjb05nYLpQNyHQl_ES7drCL4tCdP6Jb17fHpN__hw&oe=66B704EA"
            alt="André Rodrigues"
            class="profile-image"
          />
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">
        <div class="container-text_about">
          <h2>Quem Sou Eu</h2>
          <p>
            Olá! Sou André Laurentino Rodrigues, engenheiro de software e
            entusiasta de tecnologia. Formado no Instituto Federal de Minas
            Gerais (IFMG), atualmente trabalho na NTTData, onde aplico minha
            experiência no desenvolvimento de softwares financeiros, além de
            desenvolvimento web, design gráfico e SEO.
          </p>

          <p>
            Tenho uma trajetória rica e diversificada na área de TI. Já
            trabalhei como técnico de suporte de computadores, professor de web
            na Escola Estadual Comendador Zico Tobias. Minha carreira me levou a
            explorar várias facetas do desenvolvimento de software, desde
            sistemas legados até a modernização e integração de novas
            tecnologias.
          </p>

          <p>
            Além de minha atuação profissional, tenho um grande interesse em
            compartilhar conhecimento. Já palestrei e ministrei cursos no IFMG,
            na empresa onde trabalho(NTTDATA), no Banco Itaú e na CESB (Comunidade de
            Engenheiros de Softwares Bancários). Também escrevo artigos para
            sites renomados como o Portal GSTI Brasil, Site do Maujor,
            Comunidade Microsoft e DIO, contribuindo para a comunidade de
            desenvolvimento de software. Esses artigos abrangem uma ampla gama
            de tópicos, incluindo boas práticas de desenvolvimento, inovações
            tecnológicas e metodologias eficientes para melhorar a qualidade e
            performance de projetos de software.
          </p>

          <p>
            Sou apaixonado por explorar novas tendências e inovações na área de
            TI. Nos meus artigos e projetos, procuro abordar tecnologias
            emergentes como microfrontends, APIs modernas, e frameworks
            avançados, sempre com foco em eficiência e qualidade. Recentemente,
            estou desenvolvendo projetos que envolvem tecnologias como React,
            Angular, e PureScript, além de sistemas de autenticação e
            gerenciamento de dados.
          </p>

          <p>
            Nos meus passatempos, gosto de ler, jogar, assistir filmes e, claro,
            escrever códigos. Meu objetivo é sempre contribuir para o
            crescimento e evolução da comunidade de tecnologia, seja por meio de
            projetos práticos, artigos instrutivos, ou participação ativa em
            comunidades online.
          </p>

          <p>
            Estou sempre aberto a novas oportunidades e desafios que me permitam
            crescer e aprender ainda mais na área de tecnologia. Se você
            compartilha a mesma paixão por TI e inovação, adoraria trocar ideias
            e experiências!
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="container-text">
          <h2>Tecnologias que conheço</h2>
          <app-card-icons></app-card-icons>
        </div>
      </div>
    </div>
  </div>
</section>
