.content-sobre{
  color: #fff;
  .text-center{
    text-align: center;
  }
  .container{
    padding: 4em 0;
    .profile{
      h1{
        font-size: 3em;
      }
      img{
        border-radius: 50%;
        height: 300px;
        width: 300px;
      }
    }
    .container-text_about{
      margin: 0 auto;
      width: 80%;
    }
    .container-text{
      h2{
        font-size: 2em;
      }
    }
  }
  @media(width >= 900px){
    .container{
      .profile{
        h1{
          font-size: 3em;
        }
        img{
          height: 320px;
          width: 330px;
        }
      }
      .container-text_about{
        min-width: 740px;
        max-width: 800px;
        h2{
          font-size: 2em;
        }
        p{
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      .container-text{
        h2{
          font-size: 2em;
        }
      }
    }
  }
}
