<footer class="row">
  <div class="col-12">
    <h2>Contato</h2>
    <p>Você pode me encontrar em minhas redes sociais ou entrar em contato através do meu e-mail: <a href="mailto:andre@exemplo.com">andre@exemplo.com</a>.</p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/andre-rodrigues" target="_blank">LinkedIn</a>
      <a href="https://github.com/andre-rodrigues" target="_blank">GitHub</a>
      <a href="https://twitter.com/andre_rodrigues" target="_blank">Twitter</a>
    </div>
  </div>
</footer>
