.footer {
  background-color: #000;
  border-top: 1px solid #7e7e7e33;
  padding: 20px 0;
  text-align: center;
  color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .brand {
      margin-bottom: 10px;

      h2 {
        margin: 0;
        font-size: 1.5em;
        color: #fff;
      }
    }

    .links {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      flex-wrap: wrap;

      a {
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        margin: 0 15px;
        text-decoration: none;
        padding: 5px 0;
      }
    }

    .social {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      a {
        margin: 0 10px;
        text-decoration: none;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .author {
      font-size: 0.875em;
      color: #ffc107;
    }
  }
}

@media (min-width: 768px) {
  .footer .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer .brand,
  .footer .links,
  .footer .social,
  .footer .author {
    margin-bottom: 0;
  }

  .footer .links {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .footer .container {
    flex-direction: column;
  }

  .footer .links {
    flex-direction: column;
  }

  .footer .links a {
    margin: 5px 0;
  }

  .footer .social {
    flex-direction: column;
  }

  .footer .social a {
    margin: 5px 0;
  }
}
