<footer class="footer">
  <div class="container">
    <ul class="links">
        <li><a routerLink="/" routerLinkActive="active" aria-label="Ir para a página Home">Home</a></li>
        <li><a routerLink="/sobre-mim" routerLinkActive="active" aria-label="Saiba mais Sobre Mim">Sobre-mim</a></li>
        <li><a routerLink="/servicos" routerLinkActive="active" aria-label="Ver os Serviços oferecidos">Serviços</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active" aria-label="Ver meu Portfólio">Portfólio</a></li>
        <li><a routerLink="/blog" routerLinkActive="active" aria-label="Ler o Blog">Blog</a></li>
        <li><a routerLink="/contato" routerLinkActive="active" aria-label="Entre em Contato">Contato</a></li>
    </ul>
    <h2>Acesse e me siga nas redes sociais, posto muitas coisas legais lá ;)</h2>
    <div class="social">
      <a href="https://www.facebook.com/andre.laurentino.18" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/andrerodriguesdev/" target="_blank">Instagram</a>
      <a href="https://www.linkedin.com/in/andre-laurentino-761855155/" target="_blank">LinkedIn</a>
    </div>
    <div class="author">
      <p>
        &copy; 2024 André Laurentino Rodrigues. Todos os direitos reservados.
      </p>
    </div>
  </div>
</footer>
