.row{
  flex-wrap: wrap;
  .col-4{
    padding: 10px;
  }
  @media(max-width: 700px){
    gap: 18px;
  }
}

//Card
.card {
  background-color: #141414;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
}

.card-content {
  color: #fff;
  padding: 1.5em;
}

.card-content a {
  background-color: #ffc107;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  font-size: 0.87em;
  font-weight: 600;
  outline: none;
  margin-top: 10px;
  padding: 0.76em 2em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.card-content a:hover {
  background-color: #e0a800;
}

.card-content h2 {
  font-size: 1.5em;
  margin: 0;
}

.card-content h3 {
  font-size: 1em;
  margin: 0.5em 0;
}

.card-content h4 {
  font-size: 0.87em;
  margin: 0.5em 0;
}

@media (max-width: 768px) {
  .card-content {
    padding: 1em;
  }

  .card-content a {
    font-size: 0.8em;
    padding: 1.2em 1.5em;
  }

  .card-content h2 {
    font-size: 1.25em;
  }

  .card-content h3 {
    font-size: 0.9em;
  }

  .card-content h4 {
    font-size: 0.75em;
  }
}

@media (max-width: 480px) {
  .card {
    border-radius: 10px;
  }

  .card-content {
    padding: 0.5em;
  }

  .card-content a {
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 2em;
  }

  .card-content h2 {
    font-size: 1.1em;
  }

  .card-content h3 {
    font-size: 0.8em;
  }

  .card-content h4 {
    font-size: 0.65em;
  }
}

//Paginação
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    background-color: #ffc107;
    border: none;
    color: #333;
    font-weight: 600;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:disabled {
      background-color: #1e1e1e;
      color: #fff;
      cursor: not-allowed;
    }
    &:hover:not(:disabled) {
      background-color: #e1b123;
      color: #141414;
    }
  }
}

//Datalist
.filter-input {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  margin-left: 5px;
  max-width: 500px;
  transition: border-color 0.3s ease;
  width: 100%;
  padding: 10px 15px;

  &:focus {
    border-color: #e1b123;
    outline: none;
  }

  &::placeholder {
    color: #888;
  }
  @media(min-width: 700px){
    margin-left: 10px;
  }
  @media(min-width: 900px){
    margin-left: 10px;
  }
}

datalist {
  background-color: #1e1e1e;
  color: #ffffff;

  option {
    background-color: #1e1e1e;
    color: #ffffff;
  }
}
